/*Importamos fuente asignada*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/*Estilos para todos los elementos*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Creamos un contenedor ficticio que contendrá la imagen del fondo*/
.contenedor::before{
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://img.lovepik.com/photo/50095/4306.jpg_wh860.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/*Creamos nuestro contenedor que ocupará toda la pantalla centrando el formulario de contacto*/
.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/*Estilos para el contenedor padre del formulario contacto*/
.contenedor-formulario{
    height: auto;
    width: 80%; 
    -webkit-box-shadow: 0px 0px 44px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -4px rgba(0,0,0,0.75);
    background-color: rgba(255, 255, 255,0.7);
    /*max-width: 1600px;
    max-height: 900px;*/
    overflow: hidden;
}

/*Creamos la clase fila para distribuír mejor los elementos al centro*/
.fila{
    position: relative;
    padding: 0 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*Agregamos estilos al textarea*/
.fila textarea{
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    padding-left: 35px;
    border: 1px solid #176585;
    background-color: rgba(255, 255, 255,0.7);
}

/*Modificamos la posición absoluta de los íconos y damos color en la clase fila (textarea)*/
div.fila i{
    position: absolute;
    top: 10px;
    left: 28px;
    color: #176585;
}

/*Agregamos estilos a la frase "Gracias por tu mensaje"*/
div.fila p{
    color: gray;
    text-shadow: 1px 1px 3px gray;
}

/*Damos ancho al contenedor de los input*/
.conjunto-input{
    position: relative;
    width: 60%;
}

/*Creamos un selector para dar estilos a los input*/
div.estilo-input .fila .conjunto-input input{
    height: 40px;
    width: 100%;
    padding-left: 35px;
    border: 1px solid #176585; 
    background-color: rgba(255, 255, 255,0.7);
}

/* div.estilo-input .fila .conjunto-input input[type = "email"]{
    height: 40px;
    width: 100%;
    padding-left: 35px;
    border: 1px solid #176585; 
    background-color: rgba(255, 255, 255,0.7);
}

div.estilo-input .fila .conjunto-input input[type = "number"]{
    height: 40px;
    width: 100%;
    padding-left: 35px;
    border: 1px solid #176585; 
    background-color: rgba(255, 255, 255,0.7);
} */

/*Modificamos la posición absoluta de los íconos y damos color en la clase contenedor-input (input)*/
div.estilo-input .fila .conjunto-input i{
    position: absolute;
    top: 10px;
    left: 8px;
    color: #176585;
}

/*Damos estilos al contenedor del titulo del formulario*/
div.cabecera{
    background: linear-gradient(45deg,#176585, #24a0d1, #176585 );
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Damos tamaño al logo de la cabecera
div.cabecera img{
    height: 50px;
}*/

/*Tamaño al id titulo*/
#titulo{
    font-weight: 300;
}

/*Creamos una clase para asignar una justificación al contenido (Boton y texto)*/
.justificar-between{
    justify-content: space-between;
}

/*Agregando estilos al botón*/
button.btn{
    height: 35px;
    width: 80px;
    border-radius: 10px 0 10px 0;
    border: none;
    background: linear-gradient(45deg,#176585, #24a0d1, #176585 );
    color: white;
}

/*Estilos al hover del botón*/
button.btn:hover{
    transform: scale(1.03);
    background: linear-gradient(45deg,#155a76, #2297c5, #135974 );
}

/*Estilos al active del botón*/
button.btn:active{
    background: linear-gradient(45deg,#176585, #24a0d1, #176585 );
}

/*Agregamos ancho a la etiqueta form de contacto*/
.form-contacto{
    /*max-height: 1000px;*/
    width: 50%;
}

/*Damos fondo al contenedor-img que tendrá en si el logo y nombre de la empresa*/
.contenedor-img{
    background-image: url("/public/img/img-analisis-contacto.png");
    background-position: center;
    /*max-height: 800px;*/
    width: 50%;
}

/*Agregamos un display flex al contenedor de contenedor-img y form-contacto*/
.img-form{
    display: flex;
}

/*Agregamos estilos al contenedor de los íconos de "Síguenos (alto, fondo y posición )"*/
.contenedor-opciones{
    height: 20vh;
    background: linear-gradient(45deg,#176585, #24a0d1, #176585 );
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/*Agregamos display flex y espacio entre los íconos del contenedor opciones*/
.div-iconos{
    display: flex;
    gap: 15px;
}

/*Damos altura al logo*/
.img-logo{
    height: 60px;
}

/*Centramos el contenedor de los iconos y brindamos ancho*/
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap:5px;
    margin: 15px;
    font-weight: 900;
}

/*Agregamos tamaño a los íconos*/
.contenedor-opciones i{
    font-size: 30px;
}

/*Agregamos color a los íconos de opciones*/
.contenedor-opciones a{
    color:white;
}

/*Agregamos estilos al titulo "Síguenos"*/
.contenedor-opciones h1{
    color:white;
    font-size: 25px;
    margin-bottom: 10px;
}

/*Agregamos transición y escala a los íconos en hover*/
.contenedor-opciones a:hover{
    transform: scale(1.2);
    transition: all 0.1s;
}

/*Agregamos color en action*/
.contenedor-opciones a:active{
    color: #0e2430;
}


/* responsive movil(telefones) */
@media screen and (max-width: 767px) {
    .contenedor{
        height: auto;
    }
    
    .contenedor-formulario{
        height: auto;
        width: 80%;
        margin: 30px auto 30px auto;
    }

    div.fila{
        flex-direction: column;
    }
    
    .conjunto-input{
        width: 100%;
    }

    .contenedor-img{
        display: none;
    }

    .form-contacto{
        width: 100%;
    }
}

/*responsive tablet*/
@media screen and (min-width: 768) and (max-height: 1023px) {
    
}

