@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.body{
    font-family: 'Lato', sans-serif;
}

.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.lovepik.com/photo/50095/4306.jpg_wh860.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    background-color: #900c3f;
}

.contenedor-formulario{
    height: auto;
    width: 50%;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 44px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -4px rgba(0,0,0,0.75);
    background-color: rgba(255, 255, 255,0.7);
}

.fila{
    position: relative;
    padding: 0 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fila textarea{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    padding-left: 35px;
    border: 1px solid #900c3f;
    background-color: rgba(255, 255, 255,0.7);
}

.fila textarea:focus{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    padding-left: 35px;
    border: 1px solid #900c3f;
}

div.fila i{
    position: absolute;
    top: 10px;
    left: 28px;
    color: #900c3f;
}

.conjunto-input{
    position: relative;
    width: 60%;
}

div.estilo-input .fila .conjunto-input input[type = "text"]{
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding-left: 35px;
    border: 1px solid #900c3f; 
    background-color: rgba(255, 255, 255,0.7);
}

div.estilo-input .fila .conjunto-input input[type = "email"]{
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding-left: 35px;
    border: 1px solid #900c3f; 
    background-color: rgba(255, 255, 255,0.7);
}

div.estilo-input .fila .conjunto-input input[type = "number"]{
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding-left: 35px;
    border: 1px solid #900c3f; 
    background-color: rgba(255, 255, 255,0.7);
}

div.estilo-input .fila .conjunto-input input[type = "text"]:focus{
    border-color: #900c3f;
}

div.estilo-input .fila .conjunto-input i{
    position: absolute;
    top: 10px;
    left: 8px;
    color: #900c3f;
}

div.cabecera{
    background: linear-gradient(45deg,#900c3f, #ab5475, #900c3f );
    border-radius: 15px 15px 0 0;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.cabecera img{
    height: 50px;
}

#titulo{
    font-weight: 300;
}

.justificar-derecha{
    justify-content: right;
}

button.btn{
    height: 35px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(45deg,#900c3f, #ab5475, #900c3f );
    color: white;
}

button.btn:hover{
    transform: scale(1.03);
    background: linear-gradient(45deg,#a7104a, #ae5376, #a00e46 );
}

button.btn:active{
    background: linear-gradient(45deg,#900c3f, #ab5475, #900c3f );
}



@media screen and (max-width: 767px) {
    .contenedor-formulario{
        height: auto;
        width: 80%;
        border-radius: 30px;
    }
}