
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos para el cuerpo del documento */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
     background-color: transparent; 

}
/* Estilos para los contenedores de tarjetas */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
}
/* Estilos para cada tarjeta */
.card {
    background-color: #c5ceae;
    border-radius: 8px;
    border: 4px solid #00a7e1;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
/* Estilos para los títulos de las tarjetas */
.card h3 {
    color: #333;
    font-family: 'Lato', sans-serif;
}
/* Estilos para los párrafos en las tarjetas */
.card p {
    color: #666;
    font-family: 'Lato', sans-serif;
}
/* Estilos para las imágenes en las tarjetas */
.card img {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    mix-blend-mode: multiply;
    opacity: 0.9;
}
/* Estilos para la tarjeta cuando se muestra información adicional */
.card.show-info {
height: auto; 
}
/* responsivo */
/*movil*/
@media screen and (max-width:767px) {
    body {
        background-color:  #c5ceae;
    }

}

/* tablet */

@media screen and (min-width:768px) and (max-width:1023px) {
    body {
        background-color: #c5ceae  ;
    }

}

/* pc */

@media screen and (min-width:1024px) {
    body {
        background-color: #c5ceae;
    }

}
