body{
    font-family: 'Lato', sans-serif;
}

.subTitulo{
    display:flex ;
    justify-content: center;
    text-transform: uppercase;
}

.puntoAmarillo{
    height: 25px;
    border: 2px solid;
    color: #bfaf00;
}

.p_about{
    text-align: center;
}

.proposito{
    background-color: black;
}

.valores{
    background-color: black;
}

.cuadro{
    text-align: center;
    color: #fff;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}