body{
    font-family: 'Lato', sans-serif;
}

#about{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
/*First Part*/
.subTitulo{
    display:flex ;
    justify-content: center;
    text-transform: uppercase;
}

.puntoAmarillo{
    height: 25px;
    border: 2px solid;
    color: #bfaf00;
}

.p_about{
    text-align: center;
}

/*Second Part*/
.cuadroContent{
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
}

.proposito, .valores{
    position: relative; 
    width: 250px;
    height: 300px;
    border-radius: 10px; 
    overflow: hidden;     
}

.imgPro, .imgVa{
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(40%);
    transition: transform 0.3s ease-in-out;
}

.contCuadro{
    position: relative;
    pointer-events: none;
}

.imgPro{
    background-image: url(../../img/img_sebas/img2.jpg);
}

.imgVa{
    background-image: url(../../img/img_sebas/img4.jpg);
}

.imgPro:hover,.imgVa:hover{
    transform: scale(1.3);
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

p, h3{
  margin: 0px;
}


.pPro{
    margin: 20px 15px ;
}

