body{
    font-family: 'Lato', sans-serif;
}

.subTitulo{
    display:flex ;
    justify-content: center;
    text-transform: uppercase;
}

.puntoAmarillo{
    height: 25px;
    border: 2px solid;
    color: #bfaf00;
}

.p_about{
    text-align: center;
}


.proposito, .valores{
    background-color: black;
    padding: 80px 10px 160px 10px;
    border-radius: 10px;
}

.proposito{
    
}

.cuadroContent{
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

p, h3{
  margin: 0px;
}

#about{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.pPro{
    margin: 20px 15px ;
}

